@keyframes loadroll{
	0%{
		transform: scale(1.05);
	}
	25%{
		transform: scale(1.10);
	}
	50%{
		transform: scale(1.05);
	}
	75%{
		transform: scale(1.10);
	}
	100%{
		transform: scale(1.05);
	}
}

body{
  font-family: "Segoe UI";
  background: var(--light-bg);/*#292d4e;linear-gradient(to left, mediumpurple, #35dd56);*/
  color: var(--light-text);
}

header{
	display: flex;
    background: #35DD56;
    align-items: center;
    border-radius: 10pc;
    justify-content: space-between;
}
header div{
	aspect-ratio: 1 / 1;
    border-radius: 10pc;
    background: linear-gradient(45deg, #1e7f20, #00ff07);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    color: var(--dark-text);
    padding-bottom: 10px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 18px;
    margin-left: 4px;
}
header h3 span{
	background: #00aaffc7;
	padding: 5px;
	font-size: 14px;
	border-radius: 0.5rem;
	color: var(--dark-text);
	font-weight: bolder;
}
.a-company{
	background: var(--light-bg);
	border: 1px solid gainsboro;
	border-radius: 0.5rem;
	padding: 10px;
	margin: 10px;
}

.a-company-actions{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.a-company-actions button a{
	color: white;
	text-decoration: none;
}
.a-company-actions button{
	padding: 10px;
	border: 0;
	outline: none;
	width: 100px;
	border-radius: 0.5rem;
}












.welcome, #login, #new-company{
	display: grid;
	place-items: center;
	height: 100vh;
}
#new-company{
	display: none;
	background: #28458659;
	border-radius: 1rem;
	margin-top: 30px;
}
#login form{
	display: grid;
	place-items: center;
}
h1 span{
  font-style: italic;
  background: #345ca0ba;
  padding: 0 10px 0 10px;
  border-radius: 1rem;
  color: #e59092;
}
.input-container form{
	width: 100%;
	display: grid;
	place-items: center;
}
.input-sub-cont{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.input-style-1s2{
	padding: 15px;
	outline: none;
	border: 0;
	border-radius: 1rem;
	margin: 5px;
	width: 90%;
	transition: 0.3s ease-in-out;
}
.input-style-1s2:hover{
	box-shadow: 0 0 1rem #35dd56;
	border: 1px solid #35dd56;
}
.file-upload{
	border: 5px dashed #35dd56;
	padding-top: 50px;
	padding-bottom: 50px;
}
.button-1s2 {
	outline: none;
	border: 0;
	box-shadow: 0 0 3rem #35dd56;
	background: #35dd56;
	width: 200px;
	color: white;	
	padding: 10px;
	font-size: 23px;
	cursor: pointer;
	border-radius: 1rem;
	transition: 0.3s ease-in-out;
}
.button-1s2:hover{
	border: 2px solid #35dd56;
	color: #35dd56;
	background: transparent;
	box-shadow: 0 0 0rem #35dd56;
}
.box-1s2{
	background: linear-gradient(45deg, #ffffff, white);
	color: black;
    margin: 10px;
    aspect-ratio: 2 / 3;
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
    border-radius: 20px;
    height: fit-content;
}
.box-select-1s2{
	display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white;
    padding: 20px;
    border-radius: 20px;
    width: 70%;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 100000000;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    z-index: 100000000;
    width: 80%;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, var(--light-bg), #1a5325);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.modal-content h1{
	color: var(--light-text);
}
.close {
    position: absolute;
    top: 10px;color: var(--light-text);
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}








